body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

.organization{
    margin: 2em;
}
.gradient{
    background-image: linear-gradient(to right, blue, blueviolet,red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}
.color-logo{
    color:blue;
}
.color-logo:hover{
    color: blueviolet;
}
.header{
    background-color: #02234e;
    padding: 40px 0;
}
#title{
    background-image: linear-gradient(to right, blue, violet, blueviolet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}
.header-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header-container h1{
    font-size: 2.25em;
    font-weight: 300;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.nav-menu >a{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
}
.nav-menu > a:hover{
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.language{
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}
.language-selected{
    display: flex;
    color: white;
    cursor: pointer;
}
.language-selected::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

/* jQuery class */

.language-selected.change-br::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
}
.language-selected.change-en::before{ 
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

.language ul{
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.language ul li {
    list-style: none;
    
}
.language ul li a{
    display: block;
    color: #252525;
    padding: 5px 10px;
}
.language ul li :hover{
    background-color: gray;
    
}
 a.en::before{
    content: '';            
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}
a.br::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
} 
.language:hover ul{
    display: block;
}
.section{
    text-align: center;
    padding-top:60px 0 ;
}
.strong-logo:hover{
    color: blue;
}
.button-strong{
    margin: 2em 0;
    padding: 10px;
    background-image:radial-gradient( blue, violet, red);
    background-clip: content-box;
}
.about h2{
    margin: 2em 0;
    text-align: center;
}
.efect{
    color: white;
    font-weight: 600;
    animation: changeColor 1s infinite; /* propriedade de animação */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }
    50%{
        color: transparent;
    }
    100%{
        color: #fff;
    }
}
#sub-titile{
    margin-bottom: 1em;
}
.avatar img{
    width:288px;
    margin: 2em 0;
}
.fa-js{
    color: yellow;
    font-size: 4em;
}
.fa-html5{
    color: orangered;
    font-size: 4em;
}
.fa-css3-alt{
    color: rgb(0, 119, 255);
    font-size: 4em;
}
.certificates img{
    width: 100%;
}
.footer{
    background-color: #02234e;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}
/* @media(max-width: 550px) {
    .header{
        height: 700px;
    }
    .header-container{
        max-width: 800px;
        height: 700px;
        margin: 0 auto;
        
    }
} */