body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

.organization{
    margin: 2em;
}
.color-logo{
    color:blue;
}
.color-logo:hover{
    color: blueviolet;
}
.header{
    background-color: #02234e;
    padding: 20px 0;
}
.header-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container h1{
    font-size: 2.25em;
    font-weight: 300;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu >a{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
}
.nav-menu > a:hover{
    background-color: gray;
    border-radius: 10px;
}
.language{
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}
.language-selected{
    display: flex;
    color: white;
    cursor: pointer;
}
.language-selected::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

/* jQuery class */

.language-selected.change-br::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
}
.language-selected.change-en::before{ 
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

.language ul{
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.language ul li {
    list-style: none;
    
}
.language ul li a{
    display: block;
    color: #252525;
    padding: 5px 10px;
}
.language ul li :hover{
    background-color: gray;
    
}
 a.en::before{
    content: '';            
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}
a.br::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
} 
.language:hover ul{
    display: block;
}
.section{
    text-align: center;
    padding-top:60px 0 ;
}
.strong-logo:hover{
    color: blue;
}
.button-strong{
    margin: 15px;
    padding: 10px;
    background-color: aqua;
}
.certificates img{
    width: 100%;
}
.cursor{
    background-color: white;
    width: 5px;
    height: 30px;
    display: inline-block;
}
.avatar img{
    width:288px;
}
.footer{
    background-color: #02234e;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}