body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

:root {
    --cor-menu-hamburger: white;
}

.organization {
    margin: 2em;
}

.gradient {
    background-image: linear-gradient(to right, blue, blueviolet, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.color-logo {
    color: blue;
}

.color-logo:hover {
    color: blueviolet;
}

.header {
    background-color: #02234e;
    padding: 40px 0;
}

#title {
    background-image: linear-gradient(to right, blue, violet, blueviolet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.header-container h1 {
    font-size: 2.25em;
    font-weight: 300;
}

#btn-mobile {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#menu-top {
    display: block;
    padding: .5rem;
}

.nav-menu #menu-top>a {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
}

.nav-menu #menu-top>a:hover {
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected {
    display: flex;
    color: white;
    cursor: pointer;
}

.language-selected::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

/* jQuery class */

.language-selected.change-br::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
}

.language-selected.change-en::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

.language ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;

}

.language ul li a {
    display: block;
    color: #252525;
    padding: 5px 10px;
}

.language ul li :hover {
    background-color: gray;

}

a.en::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/usa);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
}

a.br::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://countryflagsapi.com/png/br);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10PX;
    vertical-align: middle;
}

.language:hover ul {
    display: block;
}

.front-home {
    text-align: center;
    padding-top: 60px 0;
}

.front-home p {
    margin-bottom: 2em;
}

.strong-logo:hover {
    color: blue;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, blue, violet, blueviolet);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin: 0 -1em;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(95% + 12px);
    min-height: calc(47px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.about h2 {
    margin: 2em 0;
    text-align: center;
}

#knowledge {
    margin: 2em 0;
}

.knowledge {
    margin: 2em 3.5em;
    text-align: center;
}

#menu-top .knowledge {
    margin: 0;
}

.box {
    position: relative;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1em;
    background: linear-gradient(45deg, rgb(75, 73, 73), #000);
}

.box::before {
    content: '';
    position: absolute;
    width: 450px;
    height: 100px;
    background: linear-gradient(blue, violet);
    animation: rotate 4s infinite linear;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: linear-gradient(45deg, rgb(75, 73, 73), #000);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box .html, .box .css, .box .javascript {
    position: relative;
    width: 240px;
    z-index: 10;
    margin-bottom: 1em;
    border-radius: 16px;
}

.box .html h2 {
    margin: -3em 0 1em;
    text-align: left;
    border-radius: 10px;
    padding-left: 1em;
    color: black;
}

.box .css h2 {
    margin: -2em 0 0em;
    text-align: left;
    border-radius: 10px;
    padding-left: 1em;
    color: black;
}

.box .html h2 {
    background-color: orangered;
}

.box .css h2 {
    background-color: blue;
}

.box .javascript h2 {
    margin: 2em 0 1em;
    text-align: left;
    background-color: yellow;
    color: black;
    padding-left: 1em;
    border-radius: 10px;
}

.box .html h4, .box .css h4, .box .javascript h4 {
    margin: 1.5em 0;
}

.icon-right {
    position: absolute;
    top: -100px;
    right: 0px;

}

.icon-right::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(112, 112, 228, 0.5);
    left: -15px;
    top: -25px;
    transform: rotate(20deg);
    z-index: -1;

}

.html .icon-right::after {
    background-color: orangered;
}

.css .icon-right::after {
    background-color: blue;
}

.css .fa-css3-alt {
    top: -87.5px;
}

.javascript .icon-right::after {
    background-color: yellow;
}

.html .fa-html5, .javascript .fa-js,
.css .fa-css3-alt {
    color: black;
    font-size: 4em;
}

.javascript .icon-right {
    top: 15px;
}

.efect {
    color: white;
    font-weight: 600;
    animation: changeColor 1s infinite;
    /* propriedade de animação */
}

.imgage-myself {
    display: flex;
    justify-content: center;

}

.photo-myself {
    border-radius: 50%;
    border: 2px solid blueviolet;
    margin-bottom: 3em;
}

@keyframes changeColor {
    0% {
        color: #fff;
    }

    50% {
        color: transparent;
    }

    100% {
        color: #fff;
    }
}

/* #about,#knowledge,#projects,#certificates,#contacts{
    transform: translateY(150px);
    transition: .8s all ease-in;
}
 */

#sub-title {
    margin-bottom: 1em;
}

.avatar img {
    width: 288px;
    margin: 2em 0;
}

.fa-js {
    color: yellow;
    font-size: 4em;
}

.fa-html5 {
    color: orangered;
    font-size: 4em;
}

.fa-css3-alt {
    color: blue;
    font-size: 4em;
}

.download {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.download a {
    margin: 2em auto .5em;
}

.certificates img {
    width: 100%;
}

.footer {
    background-color: #02234e;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

@media(max-width: 600px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: transparent;
        cursor: pointer;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid var(--cor-menu-hamburger);
        margin: 0 -30% 1em;

    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(--cor-menu-hamburger);
        margin-top: 5px;
    }

    #menu-top {
        display: none;
        visibility: hidden;
        overflow-y: hidden;

    }

    #nav-menu.active #menu-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        visibility: visible;
        overflow: auto;
        transition: all 0.5s ease-out;


    }

    .no-show {
        display: none;
    }

    .knowledge {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}